Django
djongo
pymongo==4.6.1
dnspython==2.4.2
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
Pillow==10.2.0
python-decouple==3.8
stripe==8.3.0
twilio==9.0.0
qrcode==7.4.2
Pillow==10.2.0
celery==5.3.6
redis==5.0.1
django-allauth==0.61.
djangorestframework==3.14.0
django-cors-headers==4.3.1
gunicorn==21.2.0
whitenoise==6.6.0
python-dateutil==2.8.2
django-tailwind==3.6.0
django-browser-reload==1.12.1
django-htmx==1.15.0